<!DOCTYPE html>
<html lang="en" ng-app="angTestApp">
<head>
	<meta charset="UTF-8">
	<title>Angular Test 1: Controllers</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js" type="text/javascript"></script>
	<script src="ui/js/ng/controllers.js"></script>
	<link rel="stylesheet" href="ui/css/style.css">
</head>
<body ng-controller="testController">
	<input type="text" ng-model="styles.class" placeholder="Enter 'danger' or 'wonder' here">
	<div ng-class="styles.class">
		<p ng-repeat="entry in vars"><span>{{entry.name}}</span> = <span>{{entry.value}}</span></p>
	</div>
</body>
</html>