<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<title>The Portfolio of Mark Cory Anderson</title>
	<link rel="stylesheet" href="ui/css/portfolio.css">
</head>
<body ng-app="portfolio" resize>
	<script type="text/ng-template" id="about.html">
		<div class="projectView">
			<a href="/#/" class="closeBtn">Return to Portfolio</a>
			<section class="project">
				<div>
					<h1>About Me</h1>
					<h2>Who is Mark?</h2>
					<dl class="bioStats">
						<dd>Exp: 12 years</dd>
						<dd title="Myers-Briggs Type Indicator">MBTI: INTP (Architect)</dd>
					</dl>
					<p>I’m a Virginian who has been tinkering with computers since the days of Macintosh LCs, Kid Pix, MS-DOS, and 386x processors. I come from two generations of natural automobile mechanics (gearheads). I grew up taking things apart and putting them back together, fixing my video game controllers, but also drawing, and posting my drawings to a GeoCities account.</p>
					<h2>A web developer, you say?</h2>
					<p>I’ve worked at a variety of places, design and marketing firms, a technology training company, the International Association of Fire Chiefs, numerous temporary assignments, freelance work, and somewhere in the middle of it all, an art store. I’ve solved problems in PHP, ColdFusion, Javascript, Actionscript and ASP, and made promotional websites, financial websites, corporate websites, e-commerce websites, higher education websites &mdash; you name it, I’ve probably had some experience with it. Ultimately I found placement at Georgetown University and they decided to keep me. I used my skills while attending classes and graduated class of ‘15.</p>
					<h2>What about your personal life?</h2>
					<p>Now, I’m into Angular, Drupal, Linux, and the command line interface, relentlessly expanding my skillset. I enjoy drawing, reading philosophical texts, tinkering with microelectronics, playing video games, snowboarding, motorcycling, and bicycling. I am always interested in technological breakthroughs and I’m very excited for the coming wave of augmented reality as I’ve been nearly 10 years waiting for the day I could exchange a file with someone as though it were a physical object. Pardon my drool.</p>
				</div>
			</section>
		</div>
		<pageslide ps-open="checked" ps-side="right" ps-size="38.2%" ps-push="true" >
			<div class="longdesc">
			</div>
		</pageslide>

	</script>
	<script type="text/ng-template" id="contact.html">
		<div class="projectView">
			<a href="/#/" class="closeBtn">Return to Portfolio</a>
			<section class="project contact">
					<div>
						<h1>Contact Me</h1>
						<dl>
						<dt>Email</dt>
						<dd><a href="mailto:markcoryanderson@gmail.com">markcoryanderson@gmail.com</a></dd>
						<dt>Phone</dt>
						<dd><a href="tel:7035092042">703-509-2042</a></dd>
						</dl>
					</div>
			</section>
		</div>
		<pageslide ps-open="checked" ps-side="right" ps-size="38.2%" ps-push="true" >
			<div class="longdesc">
			</div>
		</pageslide>
	</script>
	<script type="text/ng-template" id="longdesc.html">
			<section class="project">
			<a class="closeBtn" title="Back to Portfolio" ng-click="toggle('close')">X</a>
			<a ng-href={{'/#/project/'+pNum}} style="text-decoration:none;"><input type="button" value="View Case Study"></a>
			<p ng-bind-html="current.descA"></p>
			<div ng-bind-html="current.descB"></div>
				
			</section>
			{{projects[pid].tags}}
			<div class="tags" ng-repeat="tag in current.tags">
					<span style="">
						{{tag}}
					</span>
			</div>
	</script>
	<div ng-controller="PortCtrl" class="container">
		<header>

			<div class="ego">
				<h1>Mark Cory Anderson</h1>
				<h2>Web Developer</h2>
				
			</div>
			<div class="searchBar">
				
				<div class="contact">
					<dl>
						<dd><a ng-click="toggle('close')" ng-href="/#/about" class="menu">About Me</a></dd>
						<dd><a ng-click="toggle('close')" ng-href="/#/contact" class="menu">Contact Me</a></dd>
						<dd><a class="menu" ng-href="https://www.linkedin.com/in/markcoryanderson" target="_blank">LinkedIn</a></dd>
					</dl>
				</div>
				<label for="projSearch"></label><input type="text" placeholder="Search Portfolio" ng-model="projSearch" id="projSearch" />
			</div>
		</header>
		<route-loading-indicator></route-loading-indicator>
		<ng-view ng-if="!isRouteLoading"
		[onload="enter"]
		[autoscroll="true"]></ng-view>

	</div>
</body>
	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.js" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-sanitize.js"></script>
	<script src="node_modules/angular-pageslide-directive/dist/angular-pageslide-directive.min.js"></script>
	<script src="ui/js/ng/portfolio.js"></script>
</html>