<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>The Portfolio of Mark Cory Anderson</title>
	<link rel="stylesheet" href="ui/css/portfolio.css">
</head>
<body ng-app="portfolio" resize>
	<script type="text/ng-template" id="about.html">
		<div class="projectView">
			<a href="/#/" class="closeBtn">Return to Portfolio</a>
			<section class="project">
				<div>
					<h1>About Mark</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis maiores minima maxime officia repellat tenetur est fugiat quam eum tempore! Fugit, recusandae eum. Exercitationem earum sunt, incidunt quidem illum sint?
					</p>
				</div>
			</section>
		</div>
	</script>
	<script type="text/ng-template" id="longdesc.html">
			<section class="project">
			<a class="closeBtn" title="Back to Portfolio" ng-click="toggle('close')">X</a>
			<p ng-bind-html="current.descA"></p>
			<div ng-bind-html="current.descB"></div>
			<a ng-href={{'/#/project/'+pNum}} style="text-decoration:none;"><input type="button" value="View Case Study"></a>
				
			</section>
			{{projects[pid].tags}}
			<div class="tags" ng-repeat="tag in current.tags">
					<span style="">
						{{tag}}
					</span>
			</div>
	</script>
	<div ng-controller="PortCtrl" class="container">
		<header>

			<div class="ego">
				<h1>Mark Cory Anderson</h1>
				<h2>Web Developer, absolute bad-ass</h2>
				
			</div>
			<div class="searchBar">
				
				<div class="contact">
					<dl>
						<dd><a ng-href="/#/about" ng-click="toggle('close')" class="menu">About Me</a></dd>
						<dd><a class="menu">Email Me</a></dd>
						<dd><a class="menu">LinkedIn</a></dd>
					</dl>
				</div>
				<label for="projSearch"></label><input type="text" placeholder="Search Portfolio" ng-model="projSearch" id="projSearch" />
			</div>
		</header>
		
		<ng-view 
		[onload="enter"]
		[autoscroll="true"]></ng-view>

	</div>
</body>
	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.js" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-sanitize.js"></script>
	<script src="node_modules/angular-pageslide-directive/dist/angular-pageslide-directive.min.js"></script>
	<script src="ui/js/ng/portfolio.js"></script>
</html>